{% extends '../layout.html.twig' %}

{% block title %}

    <title> Contact </title>

{% endblock %}

{% block content %}

    <h1>Contact</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto aspernatur consequatur corporis cumque
        cupiditate deserunt dolores fuga iste labore, laudantium mollitia obcaecati quidem soluta suscipit, tenetur
        voluptas voluptatem voluptatum!</p>

{% endblock %}



