{% extends 'layout.html.twig' %}

{% block title %}

    <title> Article </title>

{% endblock %}


{% block content %}

    <h1>Article</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi consequuntur, cumque dolorum et,
        incidunt laudantium nobis obcaecati omnis perferendis quasi quidem tempore ut. At illo perferendis quaerat quo
        voluptates.</p>

{% endblock %}



