{% extends 'layout.html.twig' %}

{% block title %}

    <title> Home </title>

{% endblock %}

{% block content %}

    <p> Salut
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet debitis esse quaerat reiciendis sequi totam vel
        voluptates. Blanditiis dolorem eius error magni ut? Deserunt error molestias nihil quae rem, tempore.</p>


{% endblock %}