{% extends 'layout.html.twig' %}

{% block content %}

    <div class="bg-secondary">
        <div class="container-fluid">
            <div class="p-2 p-md-3 text-center">
                <div class="col-md-7 p-lg-5 mx-auto my-5">
                    <div class="row">
                        <div class="col-6 my-auto text-end h-50">
                            <img src="hero.png" alt="logo">
                        </div>
                        <div class="col-6 mt-auto text-start">
                            <h1 class="text-left">Joska </br> Gyuricza</h1>
                        </div>
                    </div>
                    <p class="fs-1 fst-italic"> Le dev qu'il vous faut !</p>

                </div>
            </div>
        </div>
    </div>


    <!--PRESENTATION -->

    <div class="bg-light">
        <div class="container-fluid">
            <div class="p-1 text-center">
                <div class="col-md-5 p-lg-1 mx-auto my-5">
                    <h1>Développeur - Gyuricza Joska </h1>
                </div>
                <div class="col-md-9 p-lg-1 mx-auto my-1">
                    <p> ipsum dolor sit amet, consectetur adipisicing elit. Corporis expedita id quibusdam! Consequuntur
                        debitis fugit in itaque modi pariatur repellendus. Ab eos excepturi in molestias nisi. A hic
                        quaerat
                        ut!Aspernatur assumenda deleniti hic impedit ipsam natus odit, perferendis, quae quam
                        repudiandae
                        vel voluptate voluptatibus voluptatum! Aliquid amet architecto deleniti ducimus ea eius ex
                        possimus
                        quod, saepe veniam! Ratione, veritatis.Aliquam animi aspernatur exercitationem ratione sit? A ad
                        aliquam aliquid commodi cumque deserunt, distinctio error ex explicabo facere ipsum iusto natus
                        nihil nisi perferendis quasi quibusdam quod sed ut voluptate.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Les derniers Posts -->

    <div class="bg-secondary">
        <div class="container-fluid">
            <div class="p-3 text-center">
                <div class="col-md-6 p-lg-1 mx-auto my-1">
                    <h2>Les derniers posts</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white">
        <div class="container-fluid">
            <div class="col-md-9 my-auto mx-auto py-2">
                <div class="row p-3">
                    <div class="d-inline-flex justify-content-center">
                        <ul class="nav">
                            <li class="nav-item mx-md-1 mx-lg-4 mx-xl-5">
                                <a class="nav-link" href="index.php"> Categorie</a>
                            </li>
                            <li class="nav-item mx-md-1 mx-lg-4 mx-xl-5">
                                <a class="nav-link" href="index.php"> Categorie</a>
                            </li>
                            <li class="nav-item mx-md-1 mx-lg-4 mx-xl-5">
                                <a class="nav-link" href="index.php"> Categorie</a>
                            </li>
                            <li class="nav-item mx-md-1 mx-lg-4 mx-xl-5">
                                <a class="nav-link" href="index.php"> Categorie</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="row p-3">
                    <div class="d-inline-flex justify-content-center">
                        <ul class="nav">
                            <li class="nav-item mx-md-1 mx-lg-4 mx-xl-5">
                                <a class="nav-link" href="index.php"> Categorie</a>
                            </li>
                            <li class="nav-item mx-md-1 mx-lg-4 mx-xl-5">
                                <a class="nav-link" href="index.php"> Categorie</a>
                            </li>
                            <li class="nav-item mx-md-1 mx-lg-4 mx-xl-5">
                                <a class="nav-link" href="index.php"> Categorie</a>
                            </li>
                            <li class="nav-item mx-md-1 mx-lg-4 mx-xl-5">
                                <a class="nav-link" href="index.php"> Categorie</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- post rows -->

    <div class="bg-white">
        <div class="container fluid">
            <div class="row mx-1 ms-auto px-1 ps-1">
                <div class="col-md-6 col-12">
                    <div class="card p-1 my-1 my-md-2">
                        <h4 div="card-title"> Post title</h4>
                        <h5 div="card-subtitle text-muted">Chapo du post</h5>
                        <div class="row">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                                aperiam
                                at
                                beatae corporis dicta dolor eius eligendi facilis hic illo natus nesciunt non obcaecati
                                odit
                                optio quo ullam, velit voluptatibus.</p>
                            <div class="col-3 col-lg-2 ms-auto">
                                <a class="btn btn-primary btn-sm" href="post.php" role="button"> Suite </a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="card p-1 my-1 my-md-2">
                        <h4 div="card-title"> Post title</h4>
                        <h5 div="card-subtitle text-muted">Chapo du post</h5>
                        <div class="row">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                                aperiam
                                at
                                beatae corporis dicta dolor eius eligendi facilis hic illo natus nesciunt non obcaecati
                                odit
                                optio quo ullam, velit voluptatibus.</p>
                            <div class="col-3 col-lg-2 ms-auto">
                                <a class="btn btn-primary btn-sm" href="post.php" role="button"> Suite </a>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- post rows -->

        <div class="bg-white">
            <div class="container fluid">
                <div class="row mx-1 ms-auto px-1 ps-1">
                    <div class="col-md-6 col-12">
                        <div class="card p-1 my-1 my-md-2">
                            <h4 div="card-title"> Post title</h4>
                            <h5 div="card-subtitle text-muted">Chapo du post</h5>
                            <div class="row">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                                    aperiam
                                    at
                                    beatae corporis dicta dolor eius eligendi facilis hic illo natus nesciunt non
                                    obcaecati
                                    odit
                                    optio quo ullam, velit voluptatibus.</p>
                                <div class="col-3 col-lg-2 ms-auto">
                                    <a class="btn btn-primary btn-sm" href="post.php" role="button"> Suite </a>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="card p-1 my-1 my-md-2">
                            <h4 div="card-title"> Post title</h4>
                            <h5 div="card-subtitle text-muted">Chapo du post</h5>
                            <div class="row">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                                    aperiam
                                    at
                                    beatae corporis dicta dolor eius eligendi facilis hic illo natus nesciunt non
                                    obcaecati
                                    odit
                                    optio quo ullam, velit voluptatibus.</p>
                                <div class="col-3 col-lg-2 ms-auto">
                                    <a class="btn btn-primary btn-sm" href="post.php" role="button"> Suite </a>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- post rows -->

            <div class="bg-white">
                <div class="container fluid">
                    <div class="row mx-1 ms-auto px-1 ps-1">
                        <div class="col-md-6 col-12">
                            <div class="card p-1 my-1 my-md-2">
                                <h4 div="card-title"> Post title</h4>
                                <h5 div="card-subtitle text-muted">Chapo du post</h5>
                                <div class="row">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Accusamus
                                        aperiam
                                        at
                                        beatae corporis dicta dolor eius eligendi facilis hic illo natus nesciunt non
                                        obcaecati odit
                                        optio quo ullam, velit voluptatibus.</p>
                                    <div class="col-3 col-lg-2 ms-auto">
                                        <a class="btn btn-primary btn-sm" href="post.php" role="button"> Suite </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="card p-1 my-1 my-md-2">
                                <h4 div="card-title"> Post title</h4>
                                <h5 div="card-subtitle text-muted">Chapo du post</h5>
                                <div class="row">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Accusamus
                                        aperiam
                                        at
                                        beatae corporis dicta dolor eius eligendi facilis hic illo natus nesciunt non
                                        obcaecati odit
                                        optio quo ullam, velit voluptatibus.</p>
                                    <div class="col-3 col-lg-2 ms-auto">
                                        <a class="btn btn-primary btn-sm" href="post.php" role="button"> Suite </a>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- post rows -->

                <div class="bg-white">
                    <div class="container fluid">
                        <div class="row mx-1 ms-auto px-1 ps-1">
                            <div class="col-md-6 col-12">
                                <div class="card p-1 my-1 my-md-2">
                                    <h4 div="card-title"> Post title</h4>
                                    <h5 div="card-subtitle text-muted">Chapo du post</h5>
                                    <div class="row">
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Accusamus aperiam
                                            at
                                            beatae corporis dicta dolor eius eligendi facilis hic illo natus nesciunt
                                            non
                                            obcaecati odit
                                            optio quo ullam, velit voluptatibus.</p>
                                        <div class="col-3 col-lg-2 ms-auto">
                                            <a class="btn btn-primary btn-sm" href="post.php" role="button"> Suite </a>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="card p-1 my-1 my-md-2">
                                    <h4 div="card-title"> Post title</h4>
                                    <h5 div="card-subtitle text-muted">Chapo du post</h5>
                                    <div class="row">
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Accusamus aperiam
                                            at
                                            beatae corporis dicta dolor eius eligendi facilis hic illo natus nesciunt
                                            non
                                            obcaecati odit
                                            optio quo ullam, velit voluptatibus.</p>
                                        <div class="col-3 col-lg-2 ms-auto">
                                            <a class="btn btn-primary btn-sm" href="post.php" role="button"> Suite </a>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

