{% extends 'layout.html.twig' %}

{% block content %}

    <div class="bg-light">
        <div class="container-fluid">
            <div class="row">

                <div class="card w-75 mx-auto">
                    <div class="card-header text-center">
                        <img src="../img/LogoP5.png" class="card-image-top mb-3" alt="...">
                        <h1 class="mb-4">Titre du Post</h1>
                        <h4 class="card-subtitle mb-5 text-muted"> Châpo du titre de ce post ...</h4>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title text-center mb-4"> Titre 1er Partie</h5>
                        <p class="card-text lead mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit
                            iure porro sequi. Facilis non officia velit voluptatibus? Cumque distinctio eos facere
                            maxime
                            mollitia natus perferendis quas, quibusdam quisquam totam! Nemo.Adipisci, consectetur cum
                            dolore
                            doloribus eaque harum illo, nam natus quasi, quo repellendus saepe tenetur voluptas.
                            Molestias
                            officia quasi quis reprehenderit sed! Accusamus consequatur error facilis laborum maxime
                            necessitatibus suscipit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam architecto
                            assumenda cupiditate dolor doloribus eum, ex obcaecati odit pariatur quasi, quod repellendus
                            similique soluta sunt tempore totam, unde!</p>

                        <h5 class="card-title text-center mb-4"> Titre 1er Partie</h5>
                        <p class="card-text lead mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit
                            iure porro sequi. Facilis non officia velit voluptatibus? Cumque distinctio eos facere
                            maxime
                            mollitia natus perferendis quas, quibusdam quisquam totam! Nemo.Adipisci, consectetur cum
                            dolore
                            doloribus eaque harum illo, nam natus quasi, quo repellendus saepe tenetur voluptas.
                            Molestias
                            officia quasi quis reprehenderit sed! Accusamus consequatur error facilis laborum maxime
                            necessitatibus suscipit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam architecto
                            assumenda cupiditate dolor doloribus eum, ex obcaecati odit pariatur quasi, quod repellendus
                            similique soluta sunt tempore totam, unde!</p>

                        <h5 class="card-title text-center mb-4"> Titre 1er Partie</h5>
                        <p class="card-text lead mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit
                            iure porro sequi. Facilis non officia velit voluptatibus? Cumque distinctio eos facere
                            maxime
                            mollitia natus perferendis quas, quibusdam quisquam totam! Nemo.Adipisci, consectetur cum
                            dolore
                            doloribus eaque harum illo, nam natus quasi, quo repellendus saepe tenetur voluptas.
                            Molestias
                            officia quasi quis reprehenderit sed! Accusamus consequatur error facilis laborum maxime
                            necessitatibus suscipit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam architecto
                            assumenda cupiditate dolor doloribus eum, ex obcaecati odit pariatur quasi, quod repellendus
                            similique soluta sunt tempore totam, unde!</p>


                    </div>
                    <div class="card w-100 my-2">
                        <div class="row">
                            <div class="d-inline col-3 my-auto">
                                <img class="w-100" src="../img/LogoP5.png" alt="...">
                            </div>
                            <div class="col-8 ms-auto my-auto">

                                <h4 class="card-title">Joska Gyuricza</h4>
                                <h6 class="card-subtitle text-muted">Dernière MAJ le 01/01/2021</h6>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center my-5"><a href="connexion.php">Connectez-vous </a>Pour commenter ! </h5>

                    <div class="card w-100 mb-2">
                        <div class="row">
                            <div class="d-inline col-3 my-auto p-3">
                                <img class="img-fluid my-auto" src="../img/avatar.png" alt="...">
                                <h5 class="card-title">Romain Dupuis</h5>
                            </div>
                            <div class="col-8 my-auto">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
                                    blanditiis culpa doloremque eaque earum enim fuga in, iste libero nemo neque
                                    nesciunt obcaecati perferendis, quae reiciendis rerum tempore vero voluptate.</p>
                            </div>
                        </div>
                    </div>


                    <div class="card w-100 mb-2">
                        <div class="row">
                            <div class="d-inline col-3 my-auto p-3">
                                <img class="img-fluid my-auto" src="../img/avatar.png" alt="...">
                                <h5 class="card-title">Mendix Clava</h5>
                            </div>
                            <div class="col-8 my-auto">

                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
                                    blanditiis culpa doloremque eaque earum enim fuga in, iste libero nemo neque
                                    nesciunt obcaecati perferendis, quae reiciendis rerum tempore vero voluptate.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


{% endblock %}






