{% extends './layout.html.twig' %}

{% block content %}

    <div class="bg-secondary">
        <div class="container-fluid">
            <div class="p-2 p-md-3 text-center">
                <div class="col-md-7 p-lg-5 mx-auto my-5">
                    <div class="row">
                        <div class="col-6 my-auto text-end h-50">
                            <img src="img/hero.png" alt="logo">
                        </div>
                        <div class="col-6 mt-auto text-start">
                            <h1 class="text-left">Joska </br> Gyuricza</h1>
                        </div>
                    </div>
                    <p class="fs-1 fst-italic"> Le dev qu'il vous faut !</p>

                </div>
            </div>
        </div>
    </div>
    </html>

    <!--PRESENTATION -->

    <div class="bg-light">
        <div class="container-fluid">
            <div class="p-1 text-center">
                <div class="col-md-5 p-lg-1 mx-auto my-5">
                    <h1>Développeur - Gyuricza Joska </h1>
                </div>
                <div class="col-md-9 p-lg-1 mx-auto my-1">
                    <p> ipsum dolor sit amet, consectetur adipisicing elit. Corporis expedita id quibusdam! Consequuntur
                        debitis fugit in itaque modi pariatur repellendus. Ab eos excepturi in molestias nisi. A hic
                        quaerat
                        ut!Aspernatur assumenda deleniti hic impedit ipsam natus odit, perferendis, quae quam
                        repudiandae
                        vel voluptate voluptatibus voluptatum! Aliquid amet architecto deleniti ducimus ea eius ex
                        possimus
                        quod, saepe veniam! Ratione, veritatis.Aliquam animi aspernatur exercitationem ratione sit? A ad
                        aliquam aliquid commodi cumque deserunt, distinctio error ex explicabo facere ipsum iusto natus
                        nihil nisi perferendis quasi quibusdam quod sed ut voluptate.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Les derniers Posts -->

    <div class="bg-secondary">
        <div class="container-fluid">
            <div class="p-1 text-center">
                <div class="col-md-6 p-lg-1 mx-auto my-1">
                    <h2>Les derniers posts</h2>
                </div>
            </div>
        </div>
    </div>

    <!--Post*3 -->

    <div class="bg-white">
        <div class="container-fluid">
            <div class="p-1">
                <div class="col-md-10 p-lg-1 mx-auto my-1 p-1 text-left">
                    <h4>Titre du post</h4>
                    <br/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad iusto sapiente unde! Aliquam atque
                        consequatur culpa dolor dolorum eligendi explicabo incidunt ipsa ipsam obcaecati quis, tenetur
                        vel
                        veritatis voluptate voluptates?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
                        iusto
                        sapiente unde! Aliquam atque consequatur culpa dolor dolorum eligendi explicabo incidunt ipsa
                        ipsam
                        obcaecati quis, tenetur vel veritatis voluptate voluptates?
                    <div class="row">
                        <div class="col-md-6 p-lg-1 my-1 p-1 text-start">
                            <p class="my-auto">Joska gyuricza 01/01/2021</p>
                        </div>
                        <div class="col-md-6 p-lg-1 my-1  p-1 text-end">
                            <a class="btn btn-primary me-5"
                               href="post.php" role="button">Lire
                                la suite</a>
                        </div>
                    </div>

                </div>
            </div>


            <!--Post*3 -->

            <div class="bg-secondary">
                <div class="container-fluid">
                    <div class="p-1">
                        <div class="col-md-10 p-lg-1 mx-auto my-1 p-1 text-left">
                            <h4>Titre du post</h4>
                            <br/>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad iusto sapiente unde! Aliquam
                                atque
                                consequatur culpa dolor dolorum eligendi explicabo incidunt ipsa ipsam obcaecati quis,
                                tenetur vel
                                veritatis voluptate voluptates?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Ad
                                iusto
                                sapiente unde! Aliquam atque consequatur culpa dolor dolorum eligendi explicabo incidunt
                                ipsa ipsam
                                obcaecati quis, tenetur vel veritatis voluptate voluptates?
                            <div class="row">
                                <div class="col-md-6 p-lg-1 my-1 p-1 text-start">
                                    <p class="my-auto">Joska gyuricza 01/01/2021</p>
                                </div>
                                <div class="col-md-6 p-lg-1 my-1  p-1 text-end">
                                    <a class="btn btn-primary me-5"
                                       href="post.php" role="button">Lire
                                        la suite</a>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!--Post*3 -->

                    <div class="bg-white">
                        <div class="container-fluid">
                            <div class="p-1">
                                <div class="col-md-10 p-lg-1 mx-auto my-1 p-1 text-left">
                                    <h4>Titre du post</h4>
                                    <br/>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad iusto sapiente unde!
                                        Aliquam atque
                                        consequatur culpa dolor dolorum eligendi explicabo incidunt ipsa ipsam obcaecati
                                        quis, tenetur vel
                                        veritatis voluptate voluptates?Lorem ipsum dolor sit amet, consectetur
                                        adipisicing
                                        elit. Ad iusto
                                        sapiente unde! Aliquam atque consequatur culpa dolor dolorum eligendi explicabo
                                        incidunt ipsa ipsam
                                        obcaecati quis, tenetur vel veritatis voluptate voluptates?
                                    <div class="row">
                                        <div class="col-md-6 p-lg-1 my-1 p-1 text-start">
                                            <p class="my-auto">Joska gyuricza 01/01/2021</p>
                                        </div>
                                        <div class="col-md-6 p-lg-1 my-1  p-1 text-end">
                                            <a class="btn btn-primary me-5"
                                               href="post.php" role="button">Lire
                                                la suite</a>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <!-- Formulaire de contact -->
                            <div class="bg-secondary">
                                <div class="container-fluid">
                                    <div class="p-1">
                                        <div class="col-md-6 p-lg-3 mx-auto my-1 p-1">
                                            <form>
                                                <div class="form-group py-1">
                                                    <label for="NomPrenom">Nom et Prénom (obligatoire) </label>
                                                    <input type="text" class="form-control" id="NomPrenom">
                                                </div>
                                                <div class="form-group py-1">
                                                    <label for="email">Adresse de messagerie (obligatoire)</label>
                                                    <input type="email" class="form-control" id="email">
                                                </div>
                                                <div class="form-group py-1">
                                                    <label for="message">Votre message</label>
                                                    <textarea class="form-control" id="message" rows="4"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary my-3">Envoyez votre message
                                                </button>
                                            </form>
                                            <div>
                                                <h3 class="py-2">Vous pouvez également me joindre en utilisant les
                                                    informations suivantes</h3>
                                                <h4 class="py-1">Adresse postale</h4>
                                                <h4 class="py-1">Numéro téléphone pro</h4>
                                                <h4 class="py-1">Mail pro</h4>
                                                <a href="index.php">Téléchargez mon CV</a>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>

{% endblock %}